{{> header}}
        <header>
            <h1>{{tituloPagina}}</h1>
        </header>
        <div>
            <h2>{{gritar mensajeBienvenida}}</h2>
        </div>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in sem eu ultrices. Aenean semper tincidunt massa id commodo. Nunc iaculis, orci at sollicitudin lacinia, elit erat placerat libero, nec placerat ante odio vel magna. Vivamus varius dolor iaculis ipsum pulvinar pretium. Etiam sagittis interdum massa, eget euismod eros pharetra sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean nunc dolor, ullamcorper ut sem in, luctus eleifend ligula. Curabitur convallis lorem non eros aliquam euismod.</p>
            <p>Curabitur nec nunc vel dui ultricies iaculis. Nam porttitor, dui sit amet finibus mollis, mauris quam dictum ex, et auctor arcu mi vitae odio. Maecenas lobortis, diam in dictum volutpat, urna tortor ullamcorper arcu, et tincidunt augue turpis ac nisl. Curabitur a urna neque. Pellentesque purus risus, dictum gravida aliquet id, commodo sed purus. Fusce vitae viverra est, at posuere elit. Phasellus auctor bibendum tortor, vel malesuada nunc vehicula eu.</p>
        </article>
{{> footer}}